* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    grid-column: 1 / 3;
    background-color: mediumaquamarine;
}

.header {
    grid-column-end: span 2;
    background-color: aliceblue;
}

.sidebar {
    background-color: mediumaquamarine;
}

.content {
    background-color: aliceblue; 
}

.photo {
    grid-row-end: span 2;
}
 
.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: mediumaquamarine
}

