* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1f;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer"; 
    grid-gap: 10px;
}

.title {
    grid-area: title; 
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: mediumaquamarine;
    color: white;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.content {
    grid-area: content;
    display: grid;
    background-color: mediumaquamarine;
    justify-self: center;
}
 
.footer {
    grid-area: footer;
    background-color: mediumaquamarine;
    color: white;
    text-align: center;
}

@media screen and (min-width: 736px)
{
    .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1f;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". sidebar content ."
    ". footer footer .";   
    
}
